@model IEnumerable<Project.Domain.Entities.Kyber>

@{
    ViewData["Title"] = "Index";
}

<h2>CRUD for Kyber</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Kybers", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-4">

            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control-sm", @placeholder = "Type name or color", @maxlength = 30 })
            <input type="submit" value="Search" class="btn btn-primary btn-sm" />
        </div>
    </div>
}

<br />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Planet)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Meaning)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Planet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Meaning)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
